.logo {
    margin-top: 3%;
    margin-left: 3%;
    width: 20%;
    height: 50%;
}

ul {
    position: absolute;
    top: 10%;
    right: 0;
    width: 30%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: solid 1px black ;
  }
  
  li a:hover {
    background-color: whitesmoke;
  }

.policy {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
}